.panel-heading a{
    color: #fff;
}

.panel-heading a:not(.btn).active, .panel-heading a:not(.btn):hover{
    text-decoration: none;
    font-weight: bold;
}

.panel-heading .btn{
    margin-left:10px;
}

.panel-heading .btn:last-child{
    margin: 0;
}

.panel-subheading{
    background: #5bc0de !important;
}

.dataTables_wrapper, .m-0{
    margin: 0 !important;
}

small{
    font-size: 90% !important;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.table > tbody > tr > td small{
    font-size:75% !important;
}

.table > thead > tr >th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    height: auto !important;
    min-height: 20px !important;
}

.table:not(#table-list) > tbody > tr.even {
    background: #ddd !important;
}

#table-timekeeping .form-group{
    margin: 0;
}

.btn-dark{
    background: #343a40;
    color: #fff !important;
}

.btn-dark:hover{
    background: #000;
    color: #fff;
}

.form-group strong {
    display: block;
    margin-bottom: 10px;
}

.form-group button {
    display: block;
    width: 100%;
}

.division{
    border-top: 1px solid rgba(0,0,0,.125);
    padding-top: 15px;
    margin-top: 15px;
    width: 100%;
    clear: both;
}

.input-group-addon {
    cursor: pointer;
}

.input-group-addon:hover {
    opacity: .6;
}

textarea{
    resize: vertical;
}

ol.breadcrumb li span{
    display: inline-block;
    color: #ccc;
    padding: 0 5px;
}

.main-logo{
    text-align: center;
}

.main-logo img{
    width: 80px;
    height: 80px;
}

.main-logo strong{
    font-size: 18px;
}

.main-logo h3{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#table-list_wrapper{
    margin: -30px auto 0 !important;   
}

.pre-line{
    white-space: pre-line;
}

.text-declined{
    color: #8b0000;
}

.text-success{
    color: #008000;
}

.text-verify{
    color: #0000ff;
}

.direction-right{
    direction: rtl;
}

.d-inline-flex{
    display: inline-flex;
}

.d-none{
    display: none;
}

.modal-header{
    background-color: #0086cd;
}

.modal-header button{
    color: #fff !important;
    opacity: 1;
}

.modal-header h4{
    font-weight: bold;
    color: #fff;
}

.modal-body button{
    margin: 5px 0 0 5px;
}