.panel-heading .btn{
    margin-left: 10px;
}

.panel-heading .btn:last-child{
    margin: 0;
}

.table > thead > tr >th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    height: auto !important;
    min-height: 20px !important;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
    margin: auto;
}

.table > tbody > tr > td > span{
    display: none;
}

.table > tbody > tr.even {
    background: #ddd !important;
}

small{
    display: block;
    font-size: 75% !important;
}

.m-0{
    margin: 0 !important;
}

.btn-dark{
    background: #343a40;
    color: #fff !important;
}

.btn-dark:hover{
    background: #000;
    color: #fff;
}

.form-group strong {
    display: block;
    margin-bottom: 10px;
}

.form-group button {
    display: block;
    width: 100%;
}

.division{
    border-top: 1px solid rgba(0,0,0,.125);
    padding-top: 15px;
    margin-top: 15px;
    width: 100%;
    float: left;
}

ol.breadcrumb li span{
    display: inline-block;
    color: #ccc;
    padding: 0 5px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h1 span{
    display: block;
    font-size: 30px;
    margin-top: 10px;
}

object{
    width:100%;
    height:400px;
}

iframe{
    width:100%;
    height:100%;
    border:0;
}

embed{
    width: 100%;
    height: 400px;
}

.pre-line{
    white-space: pre-line;
}

.direction-rtl{
    direction: rtl
}

.text-success{
    color: #008000;
}

.text-primary{
    color: #3a75fb;
}