/* Linkees */
#linkees{
    width: 100%;
    flex-wrap: wrap;
}

#linkees .linkee{
    font-size: 12px;
    padding: 1px;
}

#linkees .linkee button{
    border: 0;
    border-radius: 40px !important;
    padding: 3px !important;
    line-height:  1 !important;
}

#linkees-select{
    max-width: 80%;
    margin: 20px 0 0;
}
/* End Linkees */

/* Search */
.alphabet-search{
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.alphabet-search li{
    margin-right: 10px;
}

.alphabet-search li.m-t-5{
    margin-top: -5px
}

.alphabet-search form button{
    height: 35px;
    margin: 1px 0 0;
}

.alphabet-search #search_employee{
    padding: 5px;
}

.alphabet-search select{
    cursor: pointer !important;
    padding: 7px; 
    border-radius: 0px !important; 
    font-size: 11px !important;
}

.alphabet-search select.d-none{
    display: none;
}

.alphabet-search select#month_list{
    width: 200px; 
}

.alphabet-search .fa-filter{
    color: #777; 
    font-size: 18px; 
    padding: 5px;
}

.alphabet-search .btn-clear{
    margin: 0px;
    height: 30px;
}

.alphabet{
    font-weight: 500 !important;
}

.alphabet.selected{
    font-weight: bold !important;
}
/* End Search */

/* Employee Profile */
.emp-profile{
    background-color: #fff;
    padding: 10px; 
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.emp-profile .emp-image{
    width: 60px; 
    height: 60px;
    margin: 15px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.emp-profile .emp-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.emp-profile .employee-description{
    color: #777;
    font-size: 12px;
}

.emp-profile .employee-email{
    color: #0c59a2;
}

.emp-profile h4.timeline-title{
    font-size: 17px; 
    text-transform: uppercase;
}
.emp-profile h4.timeline-title a{
    transition: linear 0.3s;
    font-weight: 500;
}

.emp-profile h4.timeline-title a:hover{
    padding-left: 5px;
}

.emp-profile h5{
    color: #455;
}

.emp-profile h3, h6.employee-account{
    color: #777;
}

.emp-profile h6 span.name-format{
    color: #808080;
}

.emp-profile .fa-eye, .emp-profile .fa-pencil{
    color: #3A75FB;
}

.emp-profile .fa-user-times{
    color: #ff0000;
}

.emp-profile .fa-user-plus{
    color: #008000;
}

.emp-profile-img{
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 30px auto 0;
}
.emp-profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee-details-value{
    font-size: 14px;
    line-height: 21px;
    color: #000;
}

.employee-email{
    font-size: 14px;
    line-height: 21px;
    color: #0c59a2;
    word-break: break-all;
    margin: 0;
}

.employee-email:last-child{
    margin: 0 0 10px;
}
/* End Employee Profile */

/* Pagination */
.pagination{
    margin: 0 !important;
}

.pagination>li>a, .pagination>li>span{
    border-radius: 0px !important;
}
/* End Pagination */

/* Modal */
#modalMovements .modal-body{
    max-height:500px; 
    min-height: 450px; 
    overflow-y: auto;
    overflow-x: hidden;
}

#modalMovements .dataTables_wrapper{
    margin: 0;
}

#modalMovements #transferForm tr{
    background-color: #fd9a47;
}

#modalMovements #transferForm .select2{
    width: 100% !important;
}

#modalMovements .modal-title{
    display:inline-block;
}
/* End Modal */

/* Others */
ol.breadcrumb li span{
    display: inline-block;
    color: #ccc;
    padding: 0 5px;
}

.section-header h4 {
    display: inline-block;
}

.section-subheading{
    background: #5bc0de !important;
}

.card-title{
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
}

.header-container{
    position: relative;
    z-index: 10;
}

.mx-5{
    margin:0 5px !important;
}

.mt-20{
    margin:20px auto 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mb-5{
    margin: 0 auto 5px !important;
}

.m-0{
    margin: 0 auto !important;
}

.p-10{
    padding: 10px !important;
}

.p-5{
    padding: 5px !important;
}

.p-0{
    padding: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.d-flex{
    display: flex !important;
    justify-content:space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.row.d-flex-wrap{
    margin: auto -10px;
}

.d-flex-wrap .col-md-3{
    padding: 0 10px;
    float: none;
}

.justify-center{
    justify-content:center !important;
    text-align: center;
}

.form-group label.control-label{
    color: #878;
}

.label-profile{
    padding: 0 15px;
}

#bb{
    margin: 0 auto;
}

#dependentsDiv .btn{
    width: 100%;
}

pre{
    border: 0px solid transparent;
    border-radius: 0px !important;
    margin-top: -3px;
}

.word-break-all {
    word-break: break-all;
}

#view_profile .form-group label{
    font-weight: 600;
    color: #878;
    margin: 0;
}

#view_profile address{
    margin-bottom: 10px;
    white-space: pre-line;
}

#DataTables_Table_0_wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

#DataTables_Table_0 tr td{
    display: none;
}

#employee-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#employee-card .panel-card{
    padding: 30px 10px 10px;
}

#employee-card .emp-profile-img img{
    width: 100%;
    height: auto;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#employee-card h4.card-title a{
    color: #444;
    font-weight: 500 !important;
}

#employee-card h4.card-title a:hover{
    color: #30A5FF;
    text-decoration: none;
}

#employee-card h5, #employee-card .employee-email{
    font-size: 12px !important;
}

#employee-card h5 span{
    display: block;
}

#employee-card h5 .employee-email, .employee-email-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#employee-card .name-format{
    display: block;
    color: #808080;
}

#employee-card .text-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#employee-card .fa-eye, #employee-card .fa-pencil{
    color: #3A75FB;
}

#employee-card .fa-user-times{
    color: #ff0000;
}

#employee-card .fa-user-plus{
    color: #008000;
}

#employee-card a:hover .fa{
    opacity: .6;
}
/* End Others */
