/* Panel Heading */
.panel-heading a{
    color: #fff;
}

.panel-heading a:not(.btn):hover, .panel-heading a:not(.btn).active{
    font-weight: bold;
    text-decoration: none;
}

.panel-heading .btn{
    margin-left:10px;
}

.panel-heading .btn:last-child{
    margin: 0;
}

.panel-subheading{
    background: #5bc0de !important;
    position: relative !important;
}
/* End Panel Heading */

/* DataTable */
.dataTables_wrapper{
    margin: 0 !important;
}

#table_leave tr.even{
    background: #ddd !important;
}

#table_leave .td-option{
    text-align: center;
}

#table_leave td > span{
    display: none;
}

#table_leave td > small{
    font-size:75% !important;
}

.td-total{
    text-align:center;
    font-weight:bold;
    color:#0000ff;
    background-color:#ffff00;
}

#leave_credits_table_wrapper{
    margin: 0 auto 30px !important;
}

#leave_credits_table_filter, #leave_credits_table_info, #leave_credits_table_paginate {
    display: none !important;
}

#table_leave_dates_wrapper{
    margin: -25px auto 0 !important;
}
/* End DataTable */

/* Custom Widths */
.w-50{
    width: 50px !important;
}

.w-60{
    width: 60px !important;
}

.w-80{
    width: 80px !important;
}

.w-100{
    width: 100px !important;
}

.w-150{
    width: 150px !important;
}

.w-180{
    width: 180px !important;
}

.w-200{
    width: 200px !important;
}

.width-100{
    width: 100% !important;
}
/* End Custom Widths */


/* Custom Button */
.btn-dark{
    background: #343a40;
}

.btn-dark:hover{
    background: #000; color: #fff;
}
/* End Custom Button */

/* Input Checkbox: Switch - Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked + .slider {
    background-color: #444;
}

input.primary:checked + .slider {
    background-color: #2196F3;
}

input.success:checked + .slider {
    background-color: #8bc34a;
}

input.info:checked + .slider {
    background-color: #3de0f5;
}

input.warning:checked + .slider {
    background-color: #FFC107;
}

input.danger:checked + .slider {
    background-color: #f44336;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.list-group-item {
    border: none!important;
}

.list-group-item {
    margin-bottom: 10px!important;
}
/* End Input Checkbox: Switch - Slider */

/* Print Title */
.print-title{
    text-align: center;
}

.print-title img{
    width: 80px;
    height: 80px;
}

.print-title h4{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin: 0;
}

.print-title h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
/* End Print Title */

/* Modal */
#declinemodal .modal-header{
    background-color: #0086CD;
}

#declinemodal .modal-header button{
    color: #fff !important;
    opacity: 1;
}

#declinemodal .modal-title{
    color: #fff;
    font-weight: bold;
}

#declinemodal .modal-body button{
    margin: 5px 0 0 5px;
}
/* End Modal */

/* Others */
ol.breadcrumb li span{
    display: inline-block;
    color: #ccc;
    padding: 0 5px;
}

.cto-dates input{
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.cto-dates .btn{
    display: inline-block;
    vertical-align: middle;
    width: 18%;
}

.report-date-box {
    padding: 10px;
}

input[name=report_date] {
    text-align: center;
    width: 106px;
    margin-top: -19px;
    padding: 0px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ddd;
}

textarea{
    border-radius: 0px !important;
    border: 1px solid #ddd;
    outline: 0;
    box-shadow: none !important;
    resize: vertical;
}

select.form-control{
    border-radius: 0px !important;
    border: 1px solid #ddd;
    outline: 0;
    box-shadow: none !important;
}

.form-group strong{
    display: block;
    margin-bottom: 10px;
}

.non_reg{
    cursor: not-allowed;
    background-color: #eee;
    pointer-events: none;
}

#number_of_days{
    width:100px;
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
}

.type_of_leave p{
    margin: 0;
}

.type_of_leave small{
    display: block;
    color: #3a75fb;
    font-size: 12px !important;
    padding-left: 10px;
}

.division{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.125);
    padding-top: 15px;
    margin-top: 15px;
    padding-left: 0px;
    float: left;
}

.form-direction{
    direction: rtl;
}

.form-direction form{
    display: inline-flex;
}

.d-inline-flex{
    display: inline-flex;
}

small.leave-success{
    color: green;
}

small.leave-danger{
    color: #ff0000;
}

.ml-10 {
    margin-left: 10px !important;
}

.mb-0{
    margin:0 !important;
}

.dates_info{
    color: #000; 
    border: none;
    padding: 16px;
    width: 160px;
}

.dtfc-fixed-left{
    background-color: #fff !important;
}

.bordered{
    border-right: 3px solid #ddd !important;
}

.td-background{
    background-color:  #fff !important;
}
/* End Others */
